<h1>My Tasks</h1>
<% @tasks.each do |task| %>
<ul>
  <li><div class="form-check mr-2 mb-2">
          <%= check_box_tag "task_ids[]", task.id, false, class: 'form-check-input' %>
          <%# <%= check_box("tag", tag.id, {checked? checked: !checked}) %> %>
          <label class="form-check-label"><%= task.title %></label>
      </div>
  </li>
  <li><%= task.details%></li>
  <li>
  <%= task.completed %></li>
    <%= link_to "Show", task_path(task), class: 'btn btn-primary btn-sm' %>
  <%= link_to "Edit", edit_task_path(task), class: 'btn btn-warning btn-sm' %>
  <%= button_to 'Delete', delete_task_path(task), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' }, class: 'btn btn-danger btn-sm' %>
</ul>
<% end %>
<p> <%= link_to "new task", new_task_path(@task),class: 'btn btn-success' %></p>
<p> <%= submit_tag "Update Completed", class: 'btn btn-primary ' %></p>
